<br><br>
<h1>Template Solutions</h1>
<h2>Download Samples..</h2>
<ul>
    <li><a href='../include/solutions/templates/template.zip'>Template</a></li>
    <li><a href='../include/solutions/templates/templateScript.zip'>Template Script</a></li>    
    <li><a href='../include/solutions/templates/bindings.zip'>Bindings</a></li>    
    <li><a href='../include/solutions/templates/cssTemplate.zip'>CSS Template</a></li>
    <li><a href='../include/solutions/templates/events.zip'>Events</a></li>
    <li><a href='../include/solutions/templates/refresh.zip'>Refresh</a></li>
    <li><a href='../include/solutions/templates/refreshOptimization.zip'>Refresh Optimisation</a></li>
    <li><a href='../include/solutions/templates/widgets.zip'>Widgets</a></li>
    <li><a href='../include/solutions/templates/dataModel.zip'>Data Model</a></li>     
</ul>
<br><br>
<h2>Watch Movies..</h2>
<p>  
<h3>Template Scripts</h3>
<script language="javascript">
    QT_WriteOBJECT('/learn/include/movies/templates/templateScript/solutions/TemplateScriptSolutions.mp4' , '854', '495' , '',  'AUTOPLAY', 'False');
</script>
<h3>Bindings</h3>
<script language="javascript">
    QT_WriteOBJECT('/learn/include/movies/templates/bindings/solutions/BindingsSolutions.mp4' , '854', '495' , '',  'AUTOPLAY', 'False');
</script> 
<p>  
<h3>Refresh Optimisation</h3>
<script language="javascript">
    QT_WriteOBJECT('/learn/include/movies/templates/refreshOptimisation/solutions/RefreshOptimisationsSolutions.mp4' , '854', '495' , '',  'AUTOPLAY', 'False');
</script> 
<p>  
<h3>Data Model</h3>
<script language="javascript">
    QT_WriteOBJECT('/learn/include/movies/templates/dataModel/solutions/DataModelSolutions.mp4' , '854', '495' , '',  'AUTOPLAY', 'False');
</script> 